logs/*.log*
logs/**/*.log*
*.egg-info
*.pot
*.py[co]
*.pdf

__pycache__
MANIFEST
dist/
docs/_build/
docs/locale/
node_modules/
tests/coverage_html/
tests/.coverage
build/
tests/report/
venv
staticfiles

# IntelliJ project files
*.iml
*.iws
*.ipr
.idea/

# virtualenv
.venv
venv/
env/

# dotenv
.env

requirements.txt.sample
queue/

output/

flower.*
*.spec

logs/
temp/



.git
.gitignore

.DS_Store
Thumbs.db

.vscode/
docs/
config/

.env.dev
.env.local
.env.sample
