# DEBUG de la aplicacion, true (desarrollo), false (produccion)
DEBUG=true

# TIMEZONE de la aplicacion
TZ=America/Lima

# API LOCAL Configuracion de la aplicacion flask
FLASK_HOST=0.0.0.0
FLASK_PORT=5000

# SENTRY configuracion para DSN
SENTRY_DSN=

# Maximo numero de dias que se guardaran los archivos temporales
MAX_DAYS_TEMP_FILES=14

# BASE DE DATOS Credenciales DEFAULT
DEFAULT_DB_SERVER=192.168.9.181\DESA_SDC_A360
DEFAULT_DB_PORT=
DEFAULT_DB_NAME=TOAT
DEFAULT_DB_USER=user_db
DEFAULT_DB_PASSWORD=12

# API MULESOFT Configuracion para la conexión de servicios
MULESOFT_URL_SERVIDOR_BASE=https://analytics-unicon-desa.br-s1.cloudhub.io
MULESOFT_ACCESS_AUTH_USERNAME=unicon
MULESOFT_ACCESS_AUTH_PASSWORD=12345678
MULESOFT_REQUEST_TIMEOUT=120
MULESOFT_PATH_COMP_FINANCIERO=/api/analytics/datasets/comp-financiero
MULESOFT_PATH_PRECIO_UNACEM=/api/analytics/datasets/precio-unacem
MULESOFT_PATH_COSTO=/api/analytics/datasets/costo
MULESOFT_PATH_PROYECCION=/api/analytics/datasets/proyeccion

# JOB Configuracion COMP_FINANCIERO
COMP_FINANCIERO_HORA_INICIO=00:00:00
COMP_FINANCIERO_HORA_FIN=23:59:59
COMP_FINANCIERO_FRECUENCIA_UNIDAD=m
COMP_FINANCIERO_FRECUENCIA_VALOR=30
COMP_FINANCIERO_INICIAR_INMEDIATO=true

# JOB Configuracion PRECIO_UNACEM
PRECIO_UNACEM_HORA_INICIO=00:00:00
PRECIO_UNACEM_HORA_FIN=23:59:59
PRECIO_UNACEM_FRECUENCIA_UNIDAD=m
PRECIO_UNACEM_FRECUENCIA_VALOR=30
PRECIO_UNACEM_INICIAR_INMEDIATO=true

# JOB Configuracion COSTO
COSTO_HORA_INICIO=00:00:00
COSTO_HORA_FIN=23:59:59
COSTO_FRECUENCIA_UNIDAD=m
COSTO_FRECUENCIA_VALOR=30
COSTO_INICIAR_INMEDIATO=true

# JOB Configuracion PROYECCION
PROYECCION_HORA_INICIO=00:00:00
PROYECCION_HORA_FIN=23:59:59
PROYECCION_FRECUENCIA_UNIDAD=m
PROYECCION_FRECUENCIA_VALOR=30
PROYECCION_INICIAR_INMEDIATO=true

# JOB Configuracion TEST
TEST_HORA_INICIO=00:00:00
TEST_HORA_FIN=23:59:59
TEST_FRECUENCIA_UNIDAD=m
TEST_FRECUENCIA_VALOR=30
TEST_INICIAR_INMEDIATO=true
