# Lista general de librerias de la aplicacion
# Para actualizar, activar el entorno virtual y ejecutar lo siguiente
# $ pip install -r requirements2.txt
# $ pip freeze > requirements.txt

backcall
bleach
certifi
chardet
colorama
cycler
decorator
entrypoints
html5lib
idna
ipykernel
ipython
ipython-genutils
ipywidgets
jedi
Jinja2
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
kiwisolver
lxml
MarkupSafe
matplotlib
mistune
nbconvert
nbformat
notebook
numpy
pandas
pandas-datareader
pandocfilters
parso
pickleshare
prompt-toolkit
Pygments
pyodbc
pyparsing
python-dateutil
python-decouple
pytz
pywinpty
pyzmq
qtconsole
requests
requests-file
requests-ftp
Send2Trash
simplegeneric
six
terminado
testpath
tornado
traitlets
urllib3
wcwidth
webencodings
widgetsnbextension
wrapt
bokeh
seaborn
scipy

# Documentacion
# Sphinx
