### Lista general de librerias de la aplicacion
### Para actualizar, activar el entorno virtual y ejecutar lo siguiente
# pip install -r requirements2.txt
# pip freeze > requirements.txt

jupyter
pandas
pandas-datareader
pyodbc
python-decouple
requests
bokeh
seaborn
scipy


### Documentacion [https://www.sphinx-doc.org/en/master/]
# Sphinx

### Dependency tree of a Python Module [https://www.geeksforgeeks.org/dependency-tree-of-a-python-module/]
# pipdeptree

### pip-autoremove [https://pypi.org/project/pip-autoremove/]
# pip install pip-autoremove==0.9.1
# pip-autoremove -l
# pip-autoremove jupyter -y
# pip uninstall pip-autoremove -y

### uninstall all [https://stackoverflow.com/questions/11248073/what-is-the-easiest-way-to-remove-all-packages-installed-by-pip]
# pip freeze | xargs pip uninstall -y
# pip uninstall -r requirements.txt -y
# pip uninstall -y -r <(pip freeze)
