# DEBUG de la aplicacion, true (desarrollo), false (produccion)
DEBUG=true

# TIMEZONE de la aplicacion
TZ=America/Lima

# SENTRY configuracion para DSN
SENTRY_DSN=

# Maximo numero de dias que se guardaran los archivos temporales
MAX_DAYS_TEMP_FILES=14

# BASE DE DATOS Credenciales DEFAULT
DEFAULT_DB_SERVER=192.168.9.181\DESA_SDC_A360
DEFAULT_DB_PORT=
DEFAULT_DB_NAME=TOAT
DEFAULT_DB_USER=user_db
DEFAULT_DB_PASSWORD=12

# API MULESOFT Configuracion para la conexión de servicios
MULESOFT_URL_SERVIDOR_BASE=https://analytics-unicon-desa.br-s1.cloudhub.io
MULESOFT_ACCESS_AUTH_USERNAME=unicon
MULESOFT_ACCESS_AUTH_PASSWORD=12345678
MULESOFT_REQUEST_TIMEOUT=120
MULESOFT_PATH_COMP_FINANCIERO=/api/analytics/datasets/comp-financiero
MULESOFT_PATH_PRECIO_UNACEM=/api/analytics/datasets/precio-unacem
MULESOFT_PATH_COSTO=/api/analytics/datasets/costo
MULESOFT_PATH_PROYECCION=/api/analytics/datasets/proyeccion
